.docs {
    display: flex;
    width: 100%;
    &-content {
        position: relative;
        margin-top: 15px;
        width: 100%;
        .edit-button {
            position: absolute;
            top: 15px;
            right: 15px;
            z-index: 2;
        }
    }
    &-toc {
        margin-top: 40px;
        $toc-width: 250px;
        padding-left: 15px;
        width: $toc-width;
        min-width: $toc-width;
        max-width: $toc-width;
    }
}
