.toc {
    position: sticky;
    top: 80px;
    display: flex;
    flex-direction: column;
    &__heading {
        color: rgba(0, 0, 0, 0.5);
        width: 100%;
        font-size: 1rem;
        padding-bottom: 5px;
        margin: 0;
    }
    &__link {
        color: rgba(0, 0, 0, 0.8);
        text-decoration: none;
        padding: 7px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover {
            color: #000;
        }
        &_active {
            color: #77bfa3;
            &:hover {
                color: darken($color: #77bfa3, $amount: 25);
            }
        }
    }
}
