.header {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 3;
    $logo-size: 20px;
    .github,
    .github-logo {
        width: $logo-size;
        height: $logo-size;
    }
    &-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .version {
        margin-left: 5px;
        margin-bottom: 3px;
        font-family: 'Roboto Mono', monospace;
    }
    .flex-center {
        display: flex;
        align-items: center;
    }
}
