.navigation {
    $nav-width: 200px;
    width: $nav-width;
    max-width: $nav-width;
    min-width: $nav-width;
    margin-top: 40px;
    position: sticky;
    top: 80px;
    height: calc(100vh - 160px);
}
