html,
body {
    padding: 0;
    margin: 0;
    background-color: #fff;
}

* {
    font-family: 'Ubuntu Mono', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
}
