name: Release

on:
    push:
        branches:
            - v0.10

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
    release:
        permissions:
            pull-requests: write
            id-token: write
            contents: write
        timeout-minutes: 5
        name: Release
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Repo
              uses: actions/checkout@v2

            - name: Setup Node.js 18.x
              uses: actions/setup-node@v3
              with:
                  node-version: 18.x

            - name: Install pnpm 8.x.x
              uses: pnpm/action-setup@v2.2.4
              with:
                  version: 8.x.x

            - name: Install Dependencies
              run: pnpm install

            - name: Creating .npmrc
              run: |
                  cat << EOF > "$HOME/.npmrc"
                    //registry.npmjs.org/:_authToken=$NPM_TOKEN
                  EOF
              env:
                  NPM_TOKEN: ${{ secrets.NPM_BOT_TOKEN }}

            - name: Create Release Pull Request or Publish to npm
              uses: changesets/action@v1
              with:
                  version: pnpm bump
                  # TODO do not make tag for @reactive-tools/eslint-config
                  publish: pnpm release
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  NPM_CONFIG_PROVENANCE: true
